section {
    margin-top: 50px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    text-align: center;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.calendarContainer {
    width: auto;
}

.dayNameContainer {
    width: 1400px;
    display: flex;
    flex-direction: row;
}

.dayName {
    text-align: center;
    width: 200px;
    height: 30px;
    margin: 0;
}

.date {
    width: 200px;
    height: 100px;
    margin: 0;
    padding-right: 20px;
    text-align: right;
}

.row {
    width: 1400px;
    height: auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
}

.date:hover {
    background-color: #eee;
}

.invisibleRow {
    visibility: hidden;
}