<section>
    <h1>Features</h1>
    <div class="container">
        <div class="card">
            <div class="content">
                <h2>Calendar</h2>
                <p>Create a calendar that keep track of all your salon appointments, special events, and holidays! You can cancel, reschedule, or comment on appointments or look at appointment info all with just one click.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>Online Scheduling</h2>
                <p>Customers can see all your available times and schedule appointments through your website in real time. You can set a lead time to prevent last minute appointments and automatically remind your customers of upcoming appointments through email or SMS.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>Customer Profiles</h2>
                <p>Keep track of all your customers and their preferences with a profile that includes their contact information, service and retail history, IOUs, allergies, attendance, feedback, and rewards points all in one place. Customers can freely update their info and keep track of their rewards points, view employee profiles, or even post reviews of your salon directly onto your website or on any social network.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>Reports</h2>
                <p>Manage your salon with detailed financial records and performance reports right at your fingertips. You can access the information from any Internet location so you can make the right decisions for your business and help your employees reach their full potential.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>Inventory Management</h2>
                <p>Make sure that your shelves are always stocked. Our Inventory Management feature lets you know when you’re running low on products.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>Gift Certificates</h2>
                <p>Gift certificates, with custom graphic designs and messages, are available for customers to purchase in paper or electronic form. Customers can insert their own messages onto the certificate and receive them through email or SMS with a QR code and redeeming info.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>Point-of-Sale</h2>
                <p>Check out is effortless with integrated credit card processing and barcodes on all your products. Coupons and gift cards are easy to create and even easier to scan when clients redeem them. They’ll boost your growth instantly!
                </p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>Mobile Devices</h2>
                <p>Our Mobile Access feature allows salon owners and staff to view and manage their appointments on their smart phones and other wireless devices such as tablets.</p>
            </div>
        </div>
    </div>
</section>