<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="card">
        <md-input placeholder="Email" style="width: 100%"></md-input>
        <md-input placeholder="Password" style="width: 100%" type="password"></md-input>
        <button md-raised-button color="primary">Sign in</button>
        <a href="#">Create Account</a><a href="#">Forgot password?</a>


        <div class="landing-signup">
            <div class="landing-container">
            <div class="social">
            <a class="btn btn-large btn-facebook" href="#"><i class="fa fa-facebook"></i> Sign in Facebook</a>
            <a class="btn btn-large btn-twitter" href="#"><i class="fa fa-twitter"></i> Sign in Twitter</a>
            </div>
            </div>
        </div>
    </div>
</div>